<mat-card class="padding-10">
  <mat-card-header>
    <mat-card-title>Datails de Payement </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <pdf-viewer
      [src]="pdfFileUrl"
      [original-size]="true"
      [render-text]="true"
      [rotation]="0"
      [show-all]="true"
      [fit-to-page]="true"
      [zoom]="1"
      [zoom-scale]="'page-width'"
      [external-link-target]="'blank'"
      [autoresize]="true"
      [show-borders]="false"
      class="pdf-viewer"
      (after-load-complete)="afterLoadComplete($event)"
    ></pdf-viewer>

  </mat-card-content>
</mat-card>
