<mat-toolbar color="primary">
    <button (click)="drawer.toggle()" mat-icon-button class="menu-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="spacer"></div>
    <button routerLink="/admin/home" mat-button>Home</button>
    <button routerLink="/admin/profils" mat-button>Profils</button>
    <button *ngIf="authService.roles.includes('ADMIN') " mat-button [matMenuTriggerFor]="importMenu">
      Imports
      <mat-icon iconPositionEnd >keyboard_arrow_down</mat-icon>
    </button>
  <button mat-button *ngIf="authService.isAuthentificated">{{authService.username}} </button>
    <button (click)="logout()" mat-raised-button color="accent">Logout</button>
    <mat-menu #importMenu="matMenu" yPosition="below">
      <button routerLink="/admin/load-students" mat-menu-item>Load Students</button>
      <button routerLink="/admin/load-payments" mat-menu-item>Load Payments</button>
    </mat-menu>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side" position="start" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <button routerLink="/admin" mat-button>
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/admin/students" mat-button>
          <mat-icon>person</mat-icon>
          Students
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/admin/payment" mat-button>
          <mat-icon>money</mat-icon>
          Payments
        </button>
      </mat-list-item>
    </mat-nav-list>

  </mat-drawer>


    <mat-drawer-content >
      <div class="container" style="min-height: 600px">
      <router-outlet>

      </router-outlet>
      </div>
    </mat-drawer-content>

</mat-drawer-container>

