<mat-toolbar color="primary">
    <button (click)="drawer.toggle()" mat-icon-button class="menu-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="spacer"></div>
    <button routerLink="/home" mat-button>Home</button>
    <button routerLink="/profils" mat-button>Profils</button>
    <button mat-button [matMenuTriggerFor]="importMenu">
      Imports
      <mat-icon iconPositionEnd >keyboard_arrow_down</mat-icon>
    </button>
    <button routerLink="/login" mat-raised-button color="accent">Login</button>
    <mat-menu #importMenu="matMenu" yPosition="below">
      <button mat-menu-item>Load Students</button>
      <button mat-menu-item>Load Payments</button>
    </mat-menu>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side" position="start" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <button routerLink="/dashboard" mat-button>
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/students" mat-button>
          <mat-icon>person</mat-icon>
          Students
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/payment" mat-button>
          <mat-icon>money</mat-icon>
          Payments
        </button>
      </mat-list-item>
    </mat-nav-list>

  </mat-drawer>


    <mat-drawer-content>
      <div style="min-height: 600px">
      <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>

</mat-drawer-container>

