/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.padding-10{
  padding: 10px;
}


.mt-5{

  margin-top: 10px;
}

.h-3{
  height: 50px;
}
